.program {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;

  &__collapsed {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid var(--purple-color);
    background-color: transparent;
    border-radius: 4px;
    width: 97.5%;
    color: white;
  }

  &__id {
    display: flex;
    gap: 0.5em;
    div {
      display: flex;
      gap: 0.25em;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__accounts {
    padding: 1.5em;
  }

  &__data-type {
    display: flex;
  }

  img {
    cursor: pointer;
  }

  &__trigger-instruction {
    background-color: var(--green-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 10em;
    border-radius: 4px;
    border: none;
  }

  &__execution {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
