.program {
  display: flex;
  flex-direction: column;
  gap: 1em;
  &__collapsed {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid var(--purple-color);
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    color: white;
  }

  &__id {
    display: flex;
    gap: 0.5em;
    div {
      display: flex;
      gap: 0.25em;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__accounts {
    padding: 1.5em;
  }
}
