.exit-button {
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  padding: 0.5em;
  font-size: 0.8em;
  height: 3em;
}
