.wallet-not-connected {
  width: 100%;
  text-align: center;
  padding: 3em;
  p {
    font-size: 2em;
    font-weight: 600;
    color: var(--purple-color);
  }
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    max-width: 10em;
    align-self: center;
  }
}
