.add-account {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__title {
    color: white;
  }

  &__type {
    width: 100%;
    display: flex;
    gap: 0;
    align-items: center;
    div {
      width: 50%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
  }
}
