.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 1em;
  align-items: center;

  img {
    width: 10em;
    height: 3em;
    cursor: pointer;
  }
  &__navbar {
    ul {
      display: flex;
      gap: 1em;
      list-style: none;
      align-items: center;
      li,
      a {
        color: white;
        font-size: 1.15em;
        cursor: pointer;
      }
    }
  }
  &__wallet {
    height: 2em;
    width: 10em;
  }
}
